.full-width-table {
  width: 100%;
}
.table-box{
  width: 100%;
}
.table-box .table-inputs{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between
}
mat-form-field{
  width: calc(100% - 200px)
}